:root {
  /* ── Primary : orange Matériaux Express  dc7a34 ────────────────── */
  --ion-color-primary:           #0d5689;
  --ion-color-primary-shade:     #b85c1e;
  --ion-color-medium:            #6B7280;
  
}
